In [1]:
# Import Packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from mpl_toolkits.mplot3d import Axes3D
import warnings
warnings.filterwarnings('ignore')
import statistics
import os
os.environ['KMP_DUPLICATE_LIB_OK'] = 'True'

In [2]:
hbo_data = pd.read_csv('data/hbo_data.csv')

In [3]:
display(hbo_data.head(3))
display(hbo_data.describe())
display(hbo_data.info())
print(hbo_data.shape)

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997.0,tt0119116,7.6,517328.0,"DK, FI, NO, SE"
1,Unforgiven,movie,"Drama, Western",1992.0,tt0105695,8.2,443986.0,"AD, AG, AR, BB, BE, BO, BR, BS, BZ, CL, CO, CR..."
2,Eternal Sunshine of the Spotless Mind,movie,"Drama, Romance, Sci-Fi",2004.0,tt0338013,8.3,1104543.0,"AG, AR, BB, BO, BS, BZ, CL, CO, CR, DO, EC, GT..."

       releaseYear  imdbAverageRating  imdbNumVotes
count  5735.000000        5321.000000  5.321000e+03
mean   2013.763208           6.662902  6.937265e+04
std      11.969007           1.041117  1.936380e+05
min    1903.000000           1.500000  5.000000e+00
25%    2010.000000           6.000000  3.000000e+02
50%    2018.000000           6.700000  2.360000e+03
75%    2021.000000           7.400000  4.013500e+04
max    2025.000000           9.400000  2.961822e+06

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5749 entries, 0 to 5748
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               5521 non-null   object
 1   type                5749 non-null   object
 2   genres              5626 non-null   object
 3   releaseYear         5735 non-null   float64
 4   imdbId              5386 non-null   object
 5   imdbAverageRating   5321 non-null   float64
 6   imdbNumVotes        5321 non-null   float64
 7   availableCountries  5749 non-null   object
dtypes: float64(3), object(5)
memory usage: 359.4+ KB

None

(5749, 8)

## Cleaning

In [4]:
hbo_data.head()
#rename columns
#separete genres, available countries
#check to see the type of shows present -> separate if needed
#remove imdbldlb
#deal with null values

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997.0,tt0119116,7.6,517328.0,"DK, FI, NO, SE"
1,Unforgiven,movie,"Drama, Western",1992.0,tt0105695,8.2,443986.0,"AD, AG, AR, BB, BE, BO, BR, BS, BZ, CL, CO, CR..."
2,Eternal Sunshine of the Spotless Mind,movie,"Drama, Romance, Sci-Fi",2004.0,tt0338013,8.3,1104543.0,"AG, AR, BB, BO, BS, BZ, CL, CO, CR, DO, EC, GT..."
3,A History of Violence,movie,"Action, Crime, Drama",2005.0,tt0399146,7.4,259136.0,"AG, AR, BB, BO, BR, BS, BZ, CL, CO, CR, DO, EC..."
4,2001: A Space Odyssey,movie,"Adventure, Sci-Fi",1968.0,tt0062622,8.3,735455.0,"AD, AG, AR, BB, BE, BO, BR, BS, BZ, CL, CO, CR..."

In [5]:
hbo_cleaning = hbo_data.copy()
hbo_cleaning = hbo_cleaning.rename(columns={ 
    'imdbAverageRating': 'rating', 'imdbNumVotes': 'num_of_votes',
   'availableCountries': 'available_Countries', 
    'releaseYear': 'release_Year', 'imdbId': 'tconst'
})

hbo_cleaning.columns = [x.lower() for x in hbo_cleaning.columns]

hbo_cleaning.head(3)

,title,type,genres,release_year,tconst,rating,num_of_votes,available_countries
0,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997.0,tt0119116,7.6,517328.0,"DK, FI, NO, SE"
1,Unforgiven,movie,"Drama, Western",1992.0,tt0105695,8.2,443986.0,"AD, AG, AR, BB, BE, BO, BR, BS, BZ, CL, CO, CR..."
2,Eternal Sunshine of the Spotless Mind,movie,"Drama, Romance, Sci-Fi",2004.0,tt0338013,8.3,1104543.0,"AG, AR, BB, BO, BS, BZ, CL, CO, CR, DO, EC, GT..."

In [6]:
# Import and merge IMDB data
rating = pd.read_csv('data/title.ratings.tsv', sep='\t')
genre = pd.read_csv('data/title.basics.tsv', sep='\t')

#tv_no_null = pd.merge(rating, tv_cleaning, on='tconst', how='inner')
display(genre.head(3))
display(rating.head(3))

MemoryError: Unable to allocate 512. KiB for an array with shape (65536,) and data type int64

In [ ]:
display(hbo_cleaning[hbo_cleaning.isna().any(axis=1)])
#delete null values with no name
#df = df.dropna(how='any',axis=0) 
#can delete

In [ ]:
# Dealing with null values
display(hbo_cleaning[hbo_cleaning.isna().any(axis=1)].head())
hbo_cleaning_na = hbo_cleaning.dropna(axis=0, subset=['title'], how='any')
display(hbo_cleaning_na.head())
#trial = hbo_cleaning_na

In [ ]:
# Dealing with titles with missing info from other columns
hbo_cleaning_na = hbo_cleaning_na[hbo_cleaning_na.isna().any(axis=1)]
missing_titles = hbo_cleaning_na['title'].unique()
display(missing_titles)
len(missing_titles)

In [ ]:
display(genre[genre['originalTitle'] == 'Siste Trikk'])
display(hbo_cleaning_na[hbo_cleaning_na['title'] == 'Siste trikk'])
display(genre[genre['originalTitle'] == 'Formula Dreams'])
display(hbo_cleaning_na[hbo_cleaning_na['title'] == 'Formula Dreams'])
display(genre[genre['originalTitle'] == 'さらば青春の光「会心の一撃」'])
display(hbo_cleaning_na[hbo_cleaning_na['title'] == 'さらば青春の光「会心の一撃」'])
display(genre[genre['originalTitle'] == '美少女特攻队'])
display(hbo_cleaning_na[hbo_cleaning_na['title'] == '美少女特攻队'])

In [ ]:
hbo_cleaning_na['title'] = [x.title() for x in hbo_cleaning_na['title']]
#trial['title'] = trial['title'].capitalize()
hbo_cleaning_na
# remove full stop 
display(hbo_cleaning_na[hbo_cleaning_na['title'] == 'Drive.'])
hbo_cleaning_na['title'] = [x.removesuffix('.') for x in hbo_cleaning_na['title']]
display(hbo_cleaning_na.head())
display(hbo_cleaning_na[hbo_cleaning_na['title'] == 'Drive'])

In [ ]:
#Cleaning genre 
genre = genre.rename(columns={ 
    'primaryTitle': 'title', 'startYear': 'release_year'    
})
genre['release_year'] = genre['release_year'].astype(str)
hbo_cleaning_na['release_year'] = hbo_cleaning_na['release_year'].astype(str)
genre.head()

In [ ]:
#hbo_imdb = trial.merge(genre, how='left', on=['title', 'release_year'])
#hbo_imdb.head()

In [ ]:
missing_genre_titles = list(hbo_cleaning_na['title'].unique())
needed_genre_titles = genre[genre['title'].isin(missing_genre_titles)]
needed_genre_titles.head()
#m= missing_genre_titles
#a= needed_genre_titles

In [ ]:
missing_genres = needed_genre_titles.drop_duplicates(subset='title')
missing_genres = missing_genres.drop(columns=['isAdult', 'runtimeMinutes', 'endYear'])
missing_genres.head()

In [ ]:
hbo_cleaning_genre = hbo_cleaning_na.merge(missing_genres, how='right', on=['title', 'release_year', 'genres'])
hbo_cleaning_genre = hbo_cleaning_genre.drop(columns=['type', 'tconst_x', 'rating', 'num_of_votes', 'available_countries'])
hbo_cleaning_genre = hbo_cleaning_genre.rename(columns={'tconst_y': 'tconst'})
hbo_cleaning_genre['release_year'] = hbo_cleaning_genre['release_year'].astype(str) 
hbo_cleaning_genre.head()
#check = hbo_cleaning_genre

In [ ]:
#check = trial.merge(missing_genres, how='right', on=['title', 'release_year', 'genres'])
#check = check.drop(columns=['type', 'release_year', 'tconst_x', 'rating', 'num_of_votes', 'available_countries'])
#check = check.rename(columns={'tconst_y': 'tconst'})
#check

In [ ]:
hbo_cleaning_genre['titleType'].unique()

In [ ]:
#cleaning genre column

display(hbo_cleaning_genre['titleType'].unique())

def replace_values(x):
    if x == 'tvSeries' or x == 'tvEpisode' or x == 'tvSpecial' or x == 'tvMiniSeries':
        return 'tv'
    elif x == 'tvMovie' or x == 'movie':
        return 'movie'
    else:
        return x

hbo_cleaning_genre['titleType'] =hbo_cleaning_genre['titleType'].apply(replace_values)
hbo_cleaning_genre = hbo_cleaning_genre.rename(columns={'titleType': 'type'})
hbo_cleaning_genre.head()

In [ ]:
#Cleaning the rating and num of votes columns

hbo_cleaning['release_year'] = hbo_cleaning['release_year'].astype(str) 
hbo_cleaning_rating = hbo_cleaning.merge(hbo_cleaning_genre, how='outer', on=['title', 'genres', 'tconst', 'type', 'release_year'])
hbo_cleaning_rating = hbo_cleaning_rating.drop(columns=['originalTitle'])
display(hbo_cleaning_rating[hbo_cleaning_rating['title'] == 'Destino Deporte'])
hbo_cleaning_rating.head()
#eren = hbo_cleaning_rating

In [ ]:
#finding the columns with missing values in the rating and number of votes columns.

#eren = eren.drop(columns=['originalTitle'])
hbo_cleaning_rating = hbo_cleaning_rating[hbo_cleaning_rating['title'].notna()]
display(hbo_cleaning_rating.head())
hbo_cleaning_rating_na = hbo_cleaning_rating[hbo_cleaning_rating.isna().any(axis=1)]
hbo_cleaning_rating_na['title'].unique
#eren_cleaning_2 = hbo_cleaning_rating_na

In [ ]:
no_rating = list(hbo_cleaning_rating_na['tconst'].unique())
missing_rating = rating[rating['tconst'].isin(no_rating)]
missing_rating.head()
missing_rating = missing_rating.rename(columns={'averageRating': 'rating', 'numVotes': 'num_of_votes'})
missing_rating.head()

In [ ]:
# missing ratings with values
rating_cleaned = hbo_cleaning_rating_na.merge(missing_rating, how='inner', on=['tconst', 'rating', 'num_of_votes'])

rating_cleaned = rating_cleaned.drop(columns=['genres', 'release_year', 'type', 'available_countries'])
rating_cleaned
#eren_cleaned= rating_cleaned

In [ ]:
hbo_cleaned = hbo_cleaning_rating.merge(rating_cleaned, how='left', on=['title', 'tconst', 'rating', 'num_of_votes'])
hbo_cleaned.head()

In [ ]:
#remove null value if unable to find missing data in imdb. Remove tconst, remove short and video from the type column.
display(hbo_cleaned[hbo_cleaned.isna().any(axis=1)].sample(5))
hbo_cleaned = hbo_cleaned[hbo_cleaned['tconst'].notna()]
display(hbo_cleaned[hbo_cleaned.isna().any(axis=1)].sample(5))
display(hbo_cleaned['type'].unique())
hbo_cleaned = hbo_cleaned[hbo_cleaned['type'] != 'video']
hbo_cleaned = hbo_cleaned[hbo_cleaned['type'] != 'short']
display(hbo_cleaned[hbo_cleaned.isna().any(axis=1)].sample(5))
display(print('Are there any null values in available countries in the original dataset:'),hbo_cleaning.isna().sum())
hbo_cleaned = hbo_cleaned[hbo_cleaned['available_countries'].notna()]
display(hbo_cleaned[hbo_cleaned.isna().any(axis=1)].sample(5))

In [ ]:
#Try  fill out the Null values in genres sector with imdb data from dataset I imported or external sources.
#Null values in rating and number of voyes will be filled in using the same method.
print('Values with missing genres.')
display(hbo_cleaned[hbo_cleaned['genres'].isna()])

print('Finding values with missing genres using imdb.')
null_genres = hbo_cleaned[hbo_cleaned['genres'].isna()]
null_genres = list(null_genres['title'].unique())
imdb_null_genres = genre[genre['title'].isin(null_genres)]
display(imdb_null_genres)

print('Values with missing rating and number of votes.')
display(hbo_cleaned[hbo_cleaned['rating'].isna()])

print('Finding values with missing rating and number of votes using imdb.')
null_rating = hbo_cleaned[hbo_cleaned['tconst'].isna()]
null_rating = list(null_rating['tconst'].unique())
imdb_null_rating = rating[rating['tconst'].isin(null_rating)]
display(imdb_null_rating)

# I decided to keep these null values, as I beleive removing the rows might skew my analysis and I think these rows contain information that is usefull for my EDA.

In [ ]:
#Double checking cleaned dataframe. 
#Expectation: Type column should only have TV and movie.
#Expectation: Null values only in genres, rating and number of votes columns.
display(hbo_cleaned['type'].unique())
display(hbo_cleaned.isna().sum())

In [ ]:
#making multiple dataframe for type, genres and available countries analysis and creating a countries count column.
hbo_cleaned_movie = hbo_cleaned[hbo_cleaned['type'] == 'movie']
hbo_cleaned_tv = hbo_cleaned[hbo_cleaned['type'] == 'tv']
display(hbo_cleaned_movie.head(3))
display(hbo_cleaned_tv.head(3))

movie_genre_cleaning = hbo_cleaned_movie.copy()
tv_genre_cleaning = hbo_cleaned_tv.copy()

movie_countries_cleaning = hbo_cleaned_movie.copy()
tv_countries_cleaning = hbo_cleaned_tv.copy()

#separating str.
movie_genre_cleaning['genres'] = movie_genre_cleaning['genres'].str.split(",")
movie_genre_cleaned = movie_genre_cleaning.explode('genres')


tv_genre_cleaning['genres'] = tv_genre_cleaning['genres'].str.split(",")
tv_genre_cleaned = tv_genre_cleaning.explode('genres')

movie_countries_cleaning['available_countries'] = movie_countries_cleaning['available_countries'].str.split(",")
movie_countries_cleaned = movie_countries_cleaning.explode('available_countries')


tv_countries_cleaning['available_countries'] = tv_countries_cleaning['available_countries'].str.split(",")
tv_countries_cleaned = tv_countries_cleaning.explode('available_countries')

#Further analysis:

movie_genre_countries_cleaned = movie_genre_cleaned.copy()
tv_genre_countries_cleaned = tv_genre_cleaned.copy()

movie_genre_countries_cleaned['available_countries'] = movie_genre_countries_cleaned['available_countries'].str.split(",")
movie_genre_countries_analysis = movie_genre_countries_cleaned.explode('available_countries')


tv_genre_countries_cleaned['available_countries'] = tv_genre_countries_cleaned['available_countries'].str.split(",")
tv_genre_countries_analysis = tv_genre_countries_cleaned.explode('available_countries')

# available countries freq based on countries
movie_countries_cleaned['available_countries_freq']=movie_countries_cleaned.groupby(by='title')['title'].transform('count')
movie_countries_cleaned_duplicates = movie_countries_cleaned.copy()
tv_countries_cleaned['available_countries_freq']=tv_countries_cleaned.groupby(by='title')['title'].transform('count')
tv_countries_cleaned_duplicates = tv_countries_cleaned.copy()

movie_countries_freq = movie_countries_cleaned_duplicates.drop_duplicates('title')
tv_countries_freq = tv_countries_cleaned_duplicates.drop_duplicates('title')

double_checking_movie = hbo_cleaned_movie[hbo_cleaned_movie['title'] == '#FBF']
list(double_checking_movie['available_countries'])
double_checking_tv= hbo_cleaned_tv[hbo_cleaned_tv['title'] == '#BringBackAlice']
list(double_checking_tv['available_countries'])

display(movie_genre_cleaned.head(3))
display(tv_genre_cleaned.head(3))
display(movie_countries_cleaned.head(3))
display(tv_countries_cleaned.head(3))
display(movie_genre_countries_analysis.head(3))
display(tv_genre_countries_analysis.head(3))
display(movie_countries_freq.head(3))
display(tv_countries_freq.head(3))
print('checking the freq column to see if it matches with the number of available countries:')
display(list(double_checking_movie['available_countries']))
display(list(double_checking_tv['available_countries']))

## Data Analaysis and visualisation

In [ ]:
#display(movie_genre_cleaned.head(3)) -> use when analysing the movie genres
#display(tv_genre_cleaned.head(3)) -> use when analysing tv genres.
#display(movie_countries_cleaned.head(3))
#display(tv_countries_cleaned.head(3))
#display(movie_countries_freq.head(3))
#display(tv_countries_freq.head(3))

## Overall

In [ ]:
# Pie chart -> shows the different type of shows in HBO.
len(hbo_cleaned_movie)
#3535
len(hbo_cleaned_tv)
#1851

plt.figure(figsize=(6, 6))
colors = sns.color_palette("Paired")[3:6]

data = [3535, 1851]
labels = ['Movies', 'Tv shows']

plt.pie(data, labels = labels, colors = colors, autopct='%.0f%%')
plt.title('HBO Movies vs Tv')
plt.show()

movie_num_countries = movie_countries_cleaned['available_countries'].nunique()
tv_num_countries = tv_countries_cleaned['available_countries'].nunique()
print('Number of countries HBO movies are available in:', movie_num_countries)
print('Number of countries HBO tv shows are available in:', movie_num_countries)

## Available Countires Analysis

In [ ]:
#display(movie_countries_freq.head(3))
#display(tv_countries_freq.head(3))

movie_available_countries = movie_countries_cleaned.drop_duplicates('title')
tv_available_countries = tv_countries_cleaned.drop_duplicates('title')
#display(movie_available_countries.head(3))
#display(tv_available_countries.head(3))

In [ ]:

film_colour = '#66c2a5'
tv_colour = '#fc8d62'

fig, axes = plt.subplots(1, 2, figsize=(14, 6))

# TV
top_countries_tv = tv_available_countries['available_countries'].value_counts().head(10)
top_countries_tv.plot(kind='bar', ax=axes[0], color=tv_colour)
axes[0].set_title('Top 10 Countries with the Highest Number of TV Shows')
axes[0].set_xlabel('Country')
axes[0].set_ylabel('Number of TV Shows')
axes[0].set_xticklabels(labels=list(top_countries_tv.index), rotation=35, ha='right')

# Film
top_countries_film = movie_countries_freq['available_countries'].value_counts().head(10)
top_countries_film.plot(kind='bar', ax=axes[1],  color=film_colour)
axes[1].set_title('Top 10 Countries with the Highest Number of Films')
axes[1].set_xlabel('Country')
axes[1].set_ylabel('Number of Films')
axes[1].set_xticklabels(labels=list(top_countries_film.index), rotation=35, ha='right')


plt.tight_layout()
plt.show()

### TV shows and movies country availabilities is based on licensing rights, region/country content laws and shows/movies success rates

In [ ]:
fig, axes = plt.subplots(1, 2, figsize=(14, 6))

# TV
top_countries_tv = tv_countries_freq['available_countries_freq'].value_counts().head(10)
top_countries_tv.plot(kind='bar', ax=axes[0], color=tv_colour)
axes[0].set_title('Top 10 Countries with the Highest Number of TV Shows')
axes[0].set_xlabel('available_countries_freq')
axes[0].set_ylabel('Count')
axes[0].set_xticklabels(labels=list(top_countries_tv.index), rotation=35, ha='right')

# Film
top_countries_film = movie_available_countries['available_countries_freq'].value_counts().head(10)
top_countries_film.plot(kind='bar', ax=axes[1],  color=film_colour)
axes[1].set_title('Top 10 Countries with the Highest Number of Films')
axes[1].set_xlabel('available_countries_freq')
axes[1].set_ylabel('Count')
axes[1].set_xticklabels(labels=list(top_countries_film.index), rotation=35, ha='right')


plt.tight_layout()
plt.show()

In [ ]:

# Film Dist
plt.figure(figsize=(8, 4))
sns.histplot(movie_available_countries['available_countries_freq'], bins=20, kde=True, color=film_colour)
plt.title('Distribution of Film Countries frequency')
plt.xlabel('Countries Frequency')
plt.ylabel('Frequency')
plt.show()

# TV Dist
plt.figure(figsize=(8, 4))
sns.histplot(tv_countries_freq['available_countries_freq'], bins=20, kde=True, color=tv_colour)
plt.title('Distribution of TV Show Countries frequency')
plt.xlabel('Countries Frequency')
plt.ylabel('Frequency')
plt.show()

#stats_1_movie = hbo_cleaned_movie[hbo_cleaned_movie['rating'].notna()]
#stats_1_tv = hbo_cleaned_tv[hbo_cleaned_tv['rating'].notna()]
stats_movie = list(movie_available_countries['available_countries_freq'])
stats_tv = list(tv_countries_freq['available_countries_freq'])

x = round(statistics.mean(stats_movie), 2)
print("Movie available countries freq mean is :", x)
x = round(statistics.mean(stats_tv), 2)
print("Tv show available countries freq mean is :", x)

x = statistics.mode(stats_movie)
print("Movie available countries freq mode is :", x)
x = statistics.mode(stats_tv)
print("Tv show available countries freq mode is :", x)

x = max(stats_movie)
print("Movie available countries freq max is :", x)
x = max(stats_tv)
print("Tv show available countries freq max is :", x)


x = min(stats_movie)
print("Movie available countries freq min is :", x)
x = min(stats_tv)
print("Tv show available countries freq min is :", x)

## Genres Analysis

In [ ]:
#display(movie_genre_cleaned.head(3))
#display(tv_genre_cleaned.head(3))

In [ ]:
#Genres
fig, axes = plt.subplots(1, 2, figsize=(14, 6))

# TV
top_genres_tv = tv_genre_cleaned['genres'].value_counts().head(10)
top_genres_tv.plot(kind='bar', ax=axes[0], color=tv_colour)
axes[0].set_title('Top 10 Genres - TV Shows')
axes[0].set_xlabel('Genre')
axes[0].set_ylabel('Count')
axes[0].set_xticklabels(labels=list(top_genres_tv.index), rotation=35, ha='right')

# Film
top_genres_film = movie_genre_cleaned['genres'].value_counts().head(10)
top_genres_film.plot(kind='bar', ax=axes[1],  color=film_colour)
axes[1].set_title('Top 10 Genres - Films')
axes[1].set_xlabel('Genre')
axes[1].set_ylabel('Count')
axes[1].set_xticklabels(labels=list(top_genres_film.index), rotation=35, ha='right')


plt.tight_layout()
plt.show()

### The most common tv show genre in HBO is Reality TV.
### The most common film genre in HBO is Drama.

## Ratings

In [ ]:
#need to remove the null values as I am analysing the rating and release year.
hbo_cleaned_movie['release_year'] = hbo_cleaned_movie['release_year'].astype(float)
hbo_cleaned_tv['release_year'] = hbo_cleaned_tv['release_year'].astype(float)

In [ ]:
plt.figure(figsize=(8, 4))
sns.histplot(hbo_cleaned_movie['rating'], bins=20, kde=True, color=film_colour)
plt.title('Distribution of Film Rating')
plt.xlabel('Film Rating')
plt.ylabel('Frequency')
plt.show()

# Film Dist
plt.figure(figsize=(8, 4))
sns.histplot(hbo_cleaned_tv['rating'], bins=20, kde=True, color=tv_colour)
plt.title('Distribution of Tv Show Durations')
plt.xlabel('Tv Rating')
plt.ylabel('Frequency')
plt.show()

stats_1_movie = hbo_cleaned_movie[hbo_cleaned_movie['rating'].notna()]
stats_1_tv = hbo_cleaned_tv[hbo_cleaned_tv['rating'].notna()]
stats_1_movie = list(stats_1_movie['rating'])
stats_1_tv = list(stats_1_tv['rating'])

x = round(statistics.mean(stats_1_movie), 2)
print("Movie rating mean is :", x)
x = round(statistics.mean(stats_1_tv), 2)
print("Tv show rating mean is :", x)

x = statistics.mode(stats_1_movie)
print("Movie rating mode is :", x)
x = statistics.mode(stats_1_tv)
print("Tv show rating mode is :", x)

x = max(stats_1_movie)
print("Movie rating max is :", x)
x = max(stats_1_tv)
print("Tv show rating max is :", x)


x = min(stats_1_movie)
print("Movie rating min is :", x)
x = min(stats_1_tv)
print("Tv show rating min is :", x)

## Release Year

In [ ]:
plt.figure(figsize=(8, 4))
sns.histplot(hbo_cleaned_movie['release_year'], bins=20, kde=True, color=film_colour)
plt.title('Distribution of TV Show Release Year')
plt.xlabel('Film Release Year')
plt.ylabel('Frequency')
plt.show()

# Film Dist
plt.figure(figsize=(8, 4))
sns.histplot(hbo_cleaned_tv['release_year'], bins=20, kde=True, color=tv_colour)
plt.title('Distribution of Film Release Year')
plt.xlabel('Tv Release Year')
plt.ylabel('Frequency')
plt.show()

stats_2_movie = hbo_cleaned_movie[hbo_cleaned_movie['release_year'].notna()]
stats_2_tv = hbo_cleaned_tv[hbo_cleaned_tv['release_year'].notna()]
stats_2_movie = list(stats_2_movie['release_year'])
stats_2_tv = list(stats_2_tv['release_year'])

x = max(stats_2_movie)
print("Most recent movie release year :", x)
x = max(stats_2_tv)
print("Most recent tv show release year :", x)


x = min(stats_2_movie)
print("Oldest movie release year:", x)
x = min(stats_2_tv)
print("Oldest tv show release year :", x)

## Ratings and Year analysis

In [ ]:
plt.figure(figsize=(10, 6))
plt.scatter(hbo_cleaned_movie['rating'], hbo_cleaned_movie['release_year'], alpha=0.2, color=film_colour)
plt.title('Scatter Plot of Rating vs. Release Year')
plt.xlabel('Average Rating')
plt.ylabel('Release Year')
plt.grid(True)
plt.show()

In [ ]:


g = sns.lmplot(
    data=hbo_cleaned_movie,
    x='rating', y='release_year', col=None,
    height=6, aspect=2
    ).set(title='Rating vs Release Year - Movies')

g.set_axis_labels("Rating", "Release Year")
plt.show()

### Older movies which HBO might have bought rights to tend to have high rating, compared to their newer movies.

In [ ]:
g = sns.lmplot(
    data=hbo_cleaned_tv,
    x='rating', y='release_year', col=None,
    height=6, aspect=2
    ).set(title='Rating vs Release Year - TV Shows')

g.set_axis_labels("Rating", "Release Year")
plt.show()

### Older tv shows which HBO might have bought rights to tend to have high rating, compared to their newer movies.